{% extends 'base.html'%}


{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if user.bio %}
      <p> {{user.bio}}</p>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}
  </div>

  <!--Display profile photo-->
  <div class="col-md-4">

    {% if user.profile_pic_path %}
    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
    {%else%}
    <p>No profile picture</p>
    {% endif %}

    {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <input type="submit">
    </form>
      {% endif %}

    {% if user == current_user %}
    <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
{% endif %}
  </div>

  <div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            {%if pitch_list %}
                {%for pitch in pitch_list %}
                    <div class="card promoting-card my-2 z-depth-6">
                        <div class="card-body d-flex flex-row">
                            {%if user.profile_pic_path%}
                                <img src="{{url_for('static', filename = user.profile_pic_path)}}" class="rounded-circle mr-3"
                                    height="50px" width="50px" alt="avatar">
                            {%else%}
                                <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class="rounded-circle mr-3"
                                    height="50px" width="50px" alt="avatar">
                            {%endif%}
                            <div>
                                <a href="{{url_for('main.pickup', id = user.id)}}">
                                    <h4 class="card-title font-weight-bold mb-2">{{pitch.title}}</h4>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>{{pitch.pitch}}</p>
                        </div>
                    </div>
                {%endfor%}
            {%else%}
                <h4 class="text-center my-4"><i class="far fa-grimace"></i> No Posts Yet</h4>
            {%endif%}
        </div>
        <div class="col-lg-2"></div>
</div>
</div>
{% endblock %}
